<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Chat</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Global CSS for application -->
    <link href="/stylesheets/brain-games.css" rel="stylesheet">

    <!-- Offcanvas CSS -->
    <link href="/stylesheets/offcanvas.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<!-- NAVBAR ================================================== -->
<% include /sub-views/navbar %>

<body>

<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container">

    <!-- Title -->
    <h2 class="center">General Chat</h2>
    <br>

    <!-- Conversation container -->
    <div class="col-sm-8 border chat-container">
        <div id="conversation" class="chat"></div>

        <div class="send-message-container">
            <label for="data"></label>
            <input id="data" type="text" class="border" placeholder="Type a message"/>
            <input id="datasend" type="button" class="btn btn-primary" value="Send">
        </div>
    </div>

    <div class="col-lg-1"></div>

    <!-- User List container -->
    <div class="col-sm-3">
        <p><strong>USERS:</strong></p>
        <div id="users"></div>
    </div>

</div><!--/container -->

<!-- FOOTER -->
<% include /sub-views/footer %>

<!-- SCRIPTS -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/brain-games.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script type="text/javascript">
    chat.chatPageReady();
</script>
</body>
</html>
