<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Color Match</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Global CSS for application -->
    <link href="/stylesheets/brain-games.css" rel="stylesheet">

    <!-- Color Match CSS -->
    <link href="/stylesheets/color-match.css" rel="stylesheet">

    <!-- CSS for bootstrap callouts -->
    <link href="/stylesheets/bootstrap-callouts.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!-- NAVBAR -->
<% include /sub-views/navbar %>

<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container">

    <div class="game">

        <!-- Stats - score, time left, correct/incorrect, combo count -->
        <div class="stats">
            <div class="timeleft-container"><span id="game-timeleft">00:50</span></div>
            <div class="score-container"><span id="game-score">0</span></div>

            <p class="answer-notification-container"><span class="answer-notification glyphicon"></span></p>
        </div>
        <!--/stats -->

        <div id="game-content">
            <!-- The 2 DIVs that will hold the tiles for the game -->
            <div class="wide margin-top30">
                <div class="color-match-div">
                    <div id="left">&nbsp</div>
                </div>
                <div class="color-match-div">
                    <div id="right">&nbsp</div>
                </div>
            </div>

            <div class="clear margin-top">
                <div class="glyphicon-holder">
                    <span class="glyphicon glyphicon-game glyphicon-circle-arrow-left"></span>
                    <span class="glyphicon-text">false</span>
                </div>
                <div class="glyphicon-holder">
                    <span class="glyphicon glyphicon-game glyphicon-circle-arrow-right"></span>
                    <span class="glyphicon-text">true</span>
                </div>
            </div>

            <div class="hint-indicator margin-top">
                <p style="color: gray; font-style: italic">Left arrow key (or swipe left) to indicate that the condition
                    IS NOT fulfilled.</p>

                <p style="color: gray; font-style: italic">Right arrow key (or swipe right) to indicate that the
                    condition IS fulfilled.</p>
            </div>

            <input id="start" type="button" class="btn btn-success margin-top" value="Start"/>
        </div>
        <!--/game-content -->

    </div>
    <!--/game -->

    <!-- Gameover DIV to be displayed on game end -->
    <div id="gameover" class="bs-callout display-none">
        <h4>Congrats!</h4>

        <p></p>
    </div>
    <!--/gameover -->
    <a id="game-finished-btn" href="/secure/games" class="btn btn-primary display-none" role="button">Go to Games List »</a>

</div>
<!--/container -->


<!-- Modal that explains the game -->
<div id="hints" class="modal fade out center">
    <blockquote class="hint hint-top">
        <p>The text in the first tile ...</p>
    </blockquote>

    <div class="wide margin-top">
        <div class="color-match-div">
            <div id="hint-left"></div>
        </div>
        <div class="color-match-div">
            <div id="hint-right"></div>
        </div>
    </div>

    <blockquote class="hint hint-bottom">
        <p>... must match the color of the text in the second one</p>
    </blockquote>

    <div class="wide">
        <blockquote class="hint">
            <p id="hint-condition"></p>
        </blockquote>
    </div>

    <p id="next-hint" class="hint-text"><span class="glyphicon glyphicon-circle-arrow-right"></span> Next hint</p>

    <p id="prev-hint" class="hint-text"><span class="glyphicon glyphicon-circle-arrow-left"></span> Previous hint</p>

    <p id="close-hints" class="hint-text"><span class="glyphicon glyphicon-remove-circle"></span> Got it</p>

</div>
<!--modal -->

<!-- FOOTER -->
<% include /sub-views/footer %>

<!-- SCRIPTS -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-swipe.js"></script>

<script src="/js/jquery.countdown.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/brain-games.js"></script>
<script src="/js/docs.min.js"></script>
<script src="/js/games/color-match.js"></script>

<script type="text/javascript">
    colorMatch.initialize($('#left'), $('#right'));
    games.colorMatchPageReady();
</script>
</body>
</html>


