<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Games - <%= title %></title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Global CSS for application -->
    <link href="/stylesheets/brain-games.css" rel="stylesheet">

    <!-- Offcanvas CSS -->
    <link href="/stylesheets/offcanvas.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Brain Games</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/secure/home">HOME</a></li>
                <li><a href="#stats">STATS</a></li>
                <li class="active"><a href="#">GAMES</a></li>
                <li><a href="#profile">PROFILE</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container">

      <!-- Wrap everything in a row-offcanvas class to resize content by hiding the secondary navigation -->
      <div class="row row-offcanvas row-offcanvas-left">
        
        <!-- Game categories -->
        <p class="pull-left visible-xs">
          <button type="button" class="btn btn-primary" data-toggle="offcanvas">See categories</button>
        </p>

        <!-- Secondary navigation -->
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <div id="category-list" class="list-group">
            <a href="#" class="list-group-item active">All Games</a>
            <% for(var i = 0; i < categories.length; i++) { %>
              <a href='#<%= categories[i] %>' class="list-group-item"> <%= categories[i] %></a>
            <% } %>
          </div>
        </div><!--/secondary navigation-->
        
        <!-- Game list -->
        <div id="game-list" class="row col-xs-12 col-sm-9 padding-left35">
          <% include /sub-views/game-list.ejs %>
        </div><!--/row game list-->

      </div><!--/row-offcanvas-->

    </div><!--/container -->

    <!-- FOOTER -->
    <% include footer %>

    <!-- SCRIPTS -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $('[data-toggle=offcanvas]').click(function () {
          $('.row-offcanvas').toggleClass('active')
        });


        $('#category-list a').click(event, function() {
          event.preventDefault();
          var selected = $(this);
          var category = selected.attr('href').split('#')[1];
          if (category === '') { category = null; }

          $.ajax({
            type: 'GET',
            url: '/secure/games/category/' + category,
            success: function(response) {
              $('#category-list a').removeClass('active');
              $('#game-list').html(response);
              selected.addClass('active');  
            }
          });
        });
      });
    </script> 
  </body>
</html>
