<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <title>Stats - <%= username %></title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Global CSS for application -->
    <link href="/stylesheets/brain-games.css" rel="stylesheet">

    <!-- Offcanvas CSS -->
    <link href="/stylesheets/offcanvas.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!-- NAVBAR -->
<% include /sub-views/navbar %>

<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container">
    <div class="row">
        <div id="chart-game-categories-self" class="chart-container col-lg-6 col-sm-6 col-xs-12"></div>
        <div id="chart-game-categories-collective" class="chart-container col-lg-6 col-sm-6 col-xs-12"></div>
    </div>
    <div class="row margin-top30">
        <div class="col-lg-12 col-sm-12 col-xs-12 center">
            <label for="games-for-user">Check your progress</label>
            <select id="games-for-user"></select>
            <div id="chart-game-performance" class="chart-container"></div>
        </div>
        <div id="chart-trending-games" class="chart-container col-lg-12 col-sm-12 col-xs-12"></div>
    </div>
</div>
<!--/container -->

<!-- FOOTER -->
<% include /sub-views/footer %>

<!-- SCRIPTS -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/brain-games.js"></script>
<script src="/js/docs.min.js"></script>
<script src="/js/highcharts.js"></script>
<script src="/js/highcharts-exporting.js"></script>
<script src="/js/drilldown.js"></script>

<script type="text/javascript">
    stats.pageReady();
</script>
</body>
</html>
