@import url(../fonts/clear-sans.css);

/* GLOBAL STYLES
-------------------------------------------------- */
/* Main Containers */

body {
    padding-bottom: 40px;
    color: #5a5a5a;
    background-color: #faf8ef;
}

/* CUSTOMIZE CONTAINER */
.container {
    max-width: 800px;
}

footer {
    text-align: center;
}

/* Colors */
.black {
    color: black;
}

.red {
    color: #d43f3a;
}

.blue {
    color: #428bca;
}

.green {
    color: #398439;
}

.orange {
    color: #f0ad4e;
}

/* Fonts */
.strong {
    font-weight: 700;
}

/* Positioning styles */
.display-none {
    display: none;
}

.absolute {
    position: absolute;
}

.clear {
    clear: both;
}

.no-background {
    background-color: transparent !important;
}

.padding-left35 {
    padding-left: 35px;
}

.margin-top {
    margin-top: 20px;
}

.margin-left {
    margin-left: 20px;
}

.margin-top10 {
    margin-top: 10px;
}

.margin-top30 {
    margin-top: 30px;
}

.wide {
    width: 100%;
}

.center {
    text-align: center;
}

.border {
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
    padding-top: 20px;
    margin-bottom: 20px;
    background-color: #C0D0E0;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
    padding-right: 0;
    padding-left: 0;
}

.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-nav {
    float: right;
}

.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}

.navbar-inverse .navbar-brand {
    color: #428BCA;
    font-weight: 500;
    font-size: 26px;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #428bca;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #FFF;
}

.navbar-inverse .navbar-nav > li > a {
    color: #428bca;
}

.navbar-inverse .navbar-nav > .active > a {
    background-color: #428bca;
    border-color: #357ebd;
    color: #FFF;
    border-radius: 6px;
}

.navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #3276b1;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    background-color: #3276b1;
    border-radius: 6px;
}

.navbar-nav>li>.dropdown-menu {
    border-radius: 6px;
    padding: 6px;
    margin-top: 0;
}

.navbar-nav>li>.dropdown-menu li a {
    color: #5bc0de;
}

.navbar-nav>li>.dropdown-menu li a:hover {
    color: #428bca;
}

/* LIST
-------------------------------------------------- */

.list-group-item-header {
    color: #428bca !important;
    font-weight: 700;
    cursor: default;
}

.input-group-btn .x{
    left: -54px;
    position: relative;
    z-index: 10;
    font-size: 14px;
    cursor: pointer;
}

.input-group-btn .x:hover {
    background-color: #ddd;
}

/* FORM
-------------------------------------------------- */
.form-row {
    padding: 5px;
}

.form-row label {
    width: 20%;
    display: inline-block;
}

.form-row input {
    width: 70%;
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    display: inline-block;
}

/* CUSTOMIZE CHARTS
-------------------------------------------------- */
.chart-container {
    margin: 0 auto
}

.chart-container .highcharts-background {
    fill: #faf8ef;
}

.chart-container .highcharts-button rect {
    fill: #faf8ef;
}

/* RATING
-------------------------------------------------- */
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    float: left;
    width: 63%;
}
.rating span.active {
    color: #f0ad4e;
    content: "\2605";
}
.rating-container {
    display: inline-block;
    min-width: 180px;
}
.rating-label {
    width: 37%;
    float: left;
    font-size: 16px;
    margin-top: 4px;
}

.rating > span {
    display: inline-block;
    position: relative;
    font-size: 20px;
    width: 1.1em;
    cursor: pointer;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
    color: #f0ad4e;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    height: 500px;
    margin-bottom: 60px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 500px;
    background-color: #D0D0D0;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
    padding-right: 15px;
    padding-left: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}

.marketing h2 {
    font-weight: normal;
}

.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}

/* Featurettes
------------------------- */

.featurette-divider {
    margin: 40px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

/* GAMES
-------------------------------------------------- */

/* General Games CSS 
------------------------- */
h1.title {
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    font-weight: bold;
    display: block;
    float: left;
}
.game {
    text-align: center;
}

.game .glyphicon-game {
    font-size: 2.0em;
    margin: 5px;
}

.game .glyphicon-holder {
    display: inline-block;
    width: 50px;
}

.game .glyphicon-text {
    clear: both;
}

.game .game-title {
    font-size: 20px;
    font-weight: 700;
}

.game-heading {
    width: 500px;
    margin: 0 auto;
    min-height: 105px;
}

.game-heading:after {
    content: "";
    display: block;
    clear: both;
}

/* Stats - Score / Time left containers */
.game .stats {
    font-size: 24px;
    font-weight: 700;
    width: 100%;
    color: #f0ad4e;
    display: inline;
}
.scores-container {
    float: right;
    text-align: right;
}

.score-container, .timeleft-container, .best-container {
    position: relative;
    display: inline-block;
    background: #f0ad4e;
    padding: 15px 25px;
    font-size: 25px;
    height: 55px;
    width: 110px;
    line-height: 45px;
    font-weight: 700;
    border-radius: 3px;
    color: #fff;
    text-align: center;
}

.score-container:after, .timeleft-container:after, .best-container:after {
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: #fff;
}

.score-container .score-addition, .timeleft-container.score-addition, .best-container.score-addition {
    position: absolute;
    right: 30px;
    color: red;
    font-size: 25px;
    line-height: 25px;
    font-weight: bold;
    color: rgba(119, 110, 101, 0.9);
    z-index: 100;
    -webkit-animation: move-up 600ms ease-in;
    -moz-animation: move-up 600ms ease-in;
    animation: move-up 600ms ease-in;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
}

.score-container:after {
    content: "Score";
}

.timeleft-container:after {
    content: "Time left";
}

.best-container:after {
    content: "Best";
}

.answer-notification-container {
    text-align: center;
    width: 100%;
    height: 25px;
    clear: both;
}

/* Games - on width <= 520 */
@media screen and (max-width: 520px) {
    h1.title {
        margin-top: 15px;
    }

    .game-heading {
        margin-bottom: 10px;
        width: 320px;
    }

    .score-container, .best-container, .timeleft-container {
        margin-top: 0;
        padding: 15px 10px;
        width: 90px;
    }
}


/* Hints */
.hint-text {
    color: #FFF;
    cursor: pointer;
    font-size: 18px;
}

.hint {
    display: inline-block;
    position: relative;
    padding: 30px;
    border: 5px solid #428bca;
    text-align: center;
    color: #333;
    background: #fff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.hint-top {
    margin: 4em 0;
}

.hint-top:after {
    content: "";
    position: absolute;
    bottom: -50px;
    left: 20%;
    border-width: 0 30px 50px 0px;
    border-style: solid;
    border-color: transparent #428bca;
    display: block;
    width: 0;
}

.hint-bottom {
    margin: 3em 0 1em;
}

.hint-bottom:before {
    content: "";
    position: absolute;
    top: -50px;
    right: 20%;
    border-width: 0 0 50px 30px;
    border-style: solid;
    border-color: #428bca transparent;
    display: block;
    width: 0;
}

.hint-indicator p {
    margin-bottom: 0;
    font-size: 14px;
}

/* CHAT
-------------------------------------------------- */
.conversation-container {
    min-height: 350px;
    background-color: #fff;
}

.chat {
    min-height: inherit;
    max-height: 350px;
    overflow: auto;
}

.send-message-container {
    margin-bottom: 10px;
}

.send-message-container input[type="text"] {
    width: 80%;
    padding: 6px 12px;
}

.send-message-container input[type="button"] {
    float: right;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

    /* Remove the edge padding needed for mobile */
    .marketing {
        padding-right: 0;
        padding-left: 0;
    }

    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }

    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }

    .chat-container {
        min-width: 1200px;
    }
}

@media screen and (max-width: 988px) {

    .img-thumbnail {
        width: 160px !important;
        height: 160px !important;
    }
}
