<!-- Chat categories -->
<p class="pull-left visible-xs">
    <button type="button" class="btn btn-primary" data-toggle="offcanvas">See categories</button>
</p>

<!-- Secondary navigation -->
<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
    <div id="category-list" class="list-group">
        <a href="#" class="list-group-item active">All Chats</a>
        <% for(var i = 0; i < categories.length; i++) { %>
            <a href='#<%= categories[i] %>' class="list-group-item"> <%= categories[i] %></a>
        <% } %>
    </div>
</div><!--/secondary navigation-->